@CHARSET "UTF-8";
button{
	background:white;
	text-align:center;
	font-size:18px;
	height:50px;
	width:150px;
	cursor: pointer;
	border:1px solid;
    border-bottom-left-radius:0.5em;
    border-bottom-right-radius:0.5em;
    border-top-left-radius:0.5em;
    border-top-right-radius:0.5em;
}
button:hover{
	background:#DCDCDC;
}
table{
	
}